@use "navbar";

body {
    background-color: #333;
    color: white;
    padding-bottom: 2em;
}

.card {
    margin: 0.75em auto;
}

#jumbo-header {
    padding: 3em;
    background-size: cover;
    background-position: center;
    background-color: #000a !important;
<<<<<<< HEAD
=======
    margin-bottom: 3em;
>>>>>>> homepage

    .container {
        padding: 3em;
        background-color: #000a;
        border-radius: 1em;
    }
}

<<<<<<< HEAD
=======
.section {
    margin-bottom: 2em;
}

>>>>>>> homepage
#timeline {
    #q1 { background-color: skyblue; }
    #q2 { background-color: palevioletred; }
    #q3 { background-color: lightgreen; }
    #q4 { background-color: palegoldenrod; }
    
    h3 {
        color: #000;
        text-align: center;
        margin: 1em;
    }
}

.section {
    margin-top: 2em;
}
